@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
  margin: 0;
  padding: 0;
  background: url("https://media.discordapp.net/attachments/1188968757587091476/1194417598788542514/compute-ea4c57a4.png?ex=65b04712&is=659dd212&hm=62946168569c26e3dfa707e9e5c83aebb9edc15e6708f5265541f67969cbb7f9&=&format=webp&quality=lossless&width=1388&height=675") no-repeat;
  background-size: fill;
}
.box{
  height: 730px;
  width: 450px;
  line-height: 0px;
  background: rgba(0, 0, 0, 0.4);
  padding: 71px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Poppins',bold-700;
}
.box-img{
  border-radius: 50%;
  border: 3px solid transparent;
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.26);
  width: 200px;
  height: 200px;
  background-image: repeating-linear-gradient(45deg, #646464 , #646464 10px , #fff 10px, #fff 20px);
  animation: animate 5s linear infinite;
}
@keyframes animate
{
  0%
  {
    background-position: 0;
  }
  100%
  {
    background-position: 400px;
  }
}
.box h1{
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 100;
}
.inner {
  position: absolute;
}
.box h5{
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 0px;
  font-weight: 100;
}
.box p{
  line-height: 19px;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
  opacity: 0.5
}
.box li:hover{
  display: inline-block;
  margin: 6px;
  list-style: none;
  opacity: 1
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
